body {
    font-family: "Roboto";
    font-size: 1.5em;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.meme-img {
    display: none;
    width: 20em;
    height: 20em;
    align-self: center;
}

.meme-img-1,.meme-img-2,.meme-img-3,.meme-img-4,.meme-img-5{
    display: none;
    width: 20em;
    height: 20em;
    align-self: center;
}

input[type = "radio"]{
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
   
}

.title_for_bayan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#bayan1:checked ~ .container > .meme-img-1{
    display: flex;
}
#bayan2:checked ~ .container > .meme-img-2{
    display: flex;
}
#bayan3:checked ~ .container > .meme-img-3{
    display: flex;
}
#bayan4:checked ~ .container > .meme-img-4{
    display: flex;
}
#bayan5:checked ~ .container > .meme-img-5{
    display: flex;
}
